Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
ipdb==0.8
ipython==2.0.0
itsdangerous==0.24
mechanize==0.2.5
wsgiref==0.1.2
gunicorn==18.0
newrelic==2.14.0.11
BeautifulSoup==3.2.1
Flask-Mail==0.9.0
