{% extends "base.html" %}

{% block title %}Planning{% endblock %}

{% block extrajs %}
<script>
var date = new Date();
var d = date.getDate();
var m = date.getMonth();
var y = date.getFullYear();

events = [
{% for course in timetable.courses %}
  {
    title: "{{ course.course_name|truncate(50) }} \n"
         + "{{ course.course_room if course.course_room != None else "" }}",
    _course_name: "{{ course.course_name }}",
    _course_room: "{{ course.course_room }}",
    _course_location: "{{ course.course_location }}",
    _teacher: "{{ course.teacher }}",
    allDay: false,
    start: new {{ course.datetime_from|to_js_date|safe }},
    end: new {{ course.datetime_to|to_js_date|safe }}
  }
  {% if not loop.last %},{% endif %}
{% endfor %}
];

$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        defaultView: 'agendaWeek',
        // defaultView: 'basicWeek',
        firstDay: 1, // Monday
        hiddenDays: [ 0 ], // hide sunday
        minTime: 7,
        maxTime: 21,
        header: {
            left:   'title',
            center: '',
            right:  'prev,today,next'
        },
        allDaySlot: false,
        timeFormat: 'H:mm { - H:mm}', // uppercase H for 24-hour clock
        axisFormat: 'HH:mm',
        titleFormat: {
          month: 'MMMM yyyy',                             // September 2009
          week: "d[ yyyy][ MMM]{-d MMM yyyy}", // 14-20 Apr 2014
          day: 'dddd, MMM d, yyyy'                  // Tuesday, Sep 8, 2009
        },
        columnFormat: {
          month: 'ddd',    // Mon
          week: 'ddd d/M', // Mon 19/04
          day: 'dddd d/M'  // Monday 19/04
        },
        // slotMinutes: 30,
        eventRender: function (event, element) {
          element.popover({
            placement: 'auto',
            html: true,
            container: 'body',
            trigger: 'click',
            title: event._course_name,
            content:    event._teacher
                        + '<br />' + event._course_room
                        + '<br />' + event._course_location
          });
        },
        events: events
    })
});
</script>
{% endblock extrajs %}

{% block content %}
<div id='calendar'></div>
{% endblock content %}
