{% extends "base.html" %}

{% block title %}Planning{% endblock %}

{% block extrajs %}
<script>
var date = new Date();
var d = date.getDate();
var m = date.getMonth();
var y = date.getFullYear();

events = [
{% for course in timetable.courses %}
  {
    title: "{{ course.course_name }} ({{ course.teacher }})",
    allDay: false,
    start: new {{ course.datetime_from|to_js_date|safe }},
    end: new {{ course.datetime_to|to_js_date|safe }}
  }
  {% if not loop.last %},{% endif %}
{% endfor %}
];

$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        defaultView: 'agendaWeek',
        // defaultView: 'basicWeek',
        firstDay: 1, // Monday
        minTime: 7,
        maxTime: 21,
        timeFormat: 'H:mm { - H:mm}', // uppercase H for 24-hour clock
        axisFormat: 'HH:mm',
        titleFormat: {
          month: 'MMMM yyyy',                             // September 2009
          week: "d[ yyyy][ MMM]{ '&#8212;'d MMM yyyy}", // Sep 7 - 13 2009
          day: 'dddd, MMM d, yyyy'                  // Tuesday, Sep 8, 2009
        },
        columnFormat: {
          month: 'ddd',    // Mon
          week: 'ddd d/M', // Mon 19/04
          day: 'dddd d/M'  // Monday 19/04
        },
        // slotMinutes: 30,
        eventRender: function (event, element) {
          element.popover({
            placement: 'auto',
            html: true,
            container: 'body',
            trigger: 'click',
            title: event.title,
            content: '<br />Start: ' + event.start + '<br />End: ' + event.end
          });
        },
        events: events
    })
});
</script>
{% endblock extrajs %}

{% block content %}
<div id='calendar'></div>
{% endblock content %}
